# Ignore the .idea folder
.idea/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
env/
.env

# Ignore node_modules for Node.js projects
node_modules/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db
